/* Reset CSS */
/* CSS semua page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* CSS untuk tag header */
body {
  font-family: Arial, sans-serif;
  line-height: 1;

}

/* CSS untuk tag header */
header {
  background: #fdfdfd;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

/* CSS untuk tag section */
section {
  padding: 40px 20px;
  text-align: center;
}

/* CSS untuk tag nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; /* Agar muncul di atas elemen lain */
  height: 80px;
  background-color: #21934A;
  align-items: left;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 21px; /* Jarak setiap navigasi */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
 

/* Dropdown menu style */
.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /* Agar muncul di atas elemen lain */
  border-radius: 8px;
  align-items: center;
  text-align: left;
}

.dropdown li {
  float: none;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

li:hover .dropdown {
  display: block;
}

/* CSS untuk id logo */
#logo {
  display: flex-start;
  margin-left: 10px; 
}

#logo img {
  width: 75px;
}

/* kalimat di sebelah logo */
.nama {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  padding-right: 350px;

}

.nama h4 {
  display: grid;
  align-items: center;
  text-align: left;
  justify-content: space-between;

}

.nama h5 {
  display: grid;
  align-items: center;
  text-align: left;
  justify-content: space-between;
 
}




/* FOOTER */
footer {
  background: #285430;
  color: #fff;
  text-align: center;
  padding: 10px 20px;

  height: auto;
  gap: 10px;
  position: relative;
}

/* Kalimat di sebelah logo */
.gbrlogo {
  display: flex;
  align-items: center;
}

.logo_tulisan {
  margin-left: 10px; /* Jarak logo dan teks */
}

#logo_foto img {
  max-width: 100px; /* Atur ukuran logo */
  height: auto; /* Menjaga rasio aspek */
}

.logo_tulisan h4 {
  display: grid;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.logo_tulisan h5 {
  display: grid;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer-info{
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.linked-info{
  display: flex;
  flex-direction: column;  
  gap: 10px;
}

.gbrlocation img {
  max-width: 20px; /* Atur ukuran logo */
  height: auto; /* Menjaga rasio aspek */
}

#location {
  margin-left: 200px;
  padding-right: 15px;
}

.location h6 {
  text-align: left;
}

.gbrtelephone img {
  max-width: 20px; /* Atur ukuran logo */
  height: auto; /* Menjaga rasio aspek */
}

#telephone {
  margin-left: 200px;
  padding-right: 15px; /* Jarak antara ikon dengan teks */
}

.gbremail img {
  max-width: 20px; /* Atur ukuran logo */
  height: auto; /* Menjaga rasio aspek */
}

#email {
  margin-left: 200px;
  padding-right: 15px;
}

.gbrinstagram img {
  max-width: 20px; /* Atur ukuran logo */
  height: auto; /* Menjaga rasio aspek */
}

.gbrtiktok img {
  max-width: 20px; /* Atur ukuran logo */
  height: auto; /* Menjaga rasio aspek */
}

.gbryoutube img {
  max-width: 20px; /* Atur ukuran logo */
  height: auto; /* Menjaga rasio aspek */
}

.gbrlocation {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.gbrtelephone {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.gbremail {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.gbrinstagram {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.gbrtiktok {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.gbryoutube {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.saran {
  display: flex;
  flex-direction: row;
  margin-right: 0;
  padding: 10px 10px;
  color: white;
  background-color: #285430;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  justify-content: center;
}



a {
  color: inherit;
  text-decoration: none;
}

.maps iframe {
  position: absolute;
  bottom: 30px;
  right: 30px;
  max-width: 400px;
  height: 60%;
}
